
@font-face {
    font-family: "roboto"; 
    src: url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

}
body {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
   text-align: center;
    background-color: white;
    margin: 0;
}
h2 {
    font-family: 'roboto', Shrikhand;
    
}
.grosTitre {
    padding-top: 1rem;
    max-width: 50%;
    max-height: 50%;
}
.header {
    height: 4rem;
  
   
}
.ville { 
    font-size: small;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: lightgray; 
    justify-content: center;
    gap: 1rem;


}

.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #f1f1f0; 
    text-align: center;
}
.fonction {
    margin-left: -10rem;
    font-weight: bold;
}
.button {
    align-items: center;
    font-weight: bold;
    font-size: medium;
    width: 16rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 10px 30px;
    background: #FF79DA ;
    color: #ffffff;
    border-radius: 30px;
    border-color: #FF79DA ;
    box-shadow: 2px 2px 1px 1px#928888;
}

.bigBtn {
  
    font-size: small;
    font-weight: normal;
    align-items: center;
    width: 70%;
    margin: 1.6rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: 10px 30px;
    background: #f1f1f0;
    color: #0a0a0a;
    border-radius: 25px;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.1);
    
    }
    .bigBtn:hover {
    background: #fae7f5;
    color: #050505;
    }          
.titres {
    color: #000000;
}
.choix {
    margin-top: 3rem;
   background-color: white;
   width: 100%;
   height: 20rem;
   text-align: center;
   font-weight: bold;
   padding-bottom: 9rem;
  
}
li {
  display: flex;
  align-items: row;
  justify-content: center;
  align-items: center;
margin-left: -55px;
        width: 25px;
        height: 25px;
        background:#9356DC;
        color: white;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
    
}

.restaurants {
   padding-top: 15%;
    background-color: #f1f1f0;
    padding-bottom: 3rem;
}
.titreResto {
    margin-left: -11rem;
}
.card {
    width: 40%;
   
    border-radius: 0px 0px 20px 20px; 
   
}

.card > a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    
  

}

.card__image > img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.6rem;
    width: 20rem;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

.card__description {
   
    height: 30%;
    display: flex;
    flex-direction: column;
   width: 20rem;
   margin-left: 1.6rem;
margin-top: -5px;
margin-bottom: 3rem;
    border-radius: 0 0 20px 20px;
    line-height: 0%;
    color: #000000;
    background-color: white;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

.coeur > .far
.coeur:hover > .far {
  display: none;
}
.coeur:hover > .fas {
  display: inherit;
}
h3, p {
    margin-left: 0px;
}

.img2 {
    width: 90%;
   height: 16rem;
   border-radius: 20px 20px 0 0;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   margin-bottom: -1rem;
   padding-bottom: 2em;
   padding-top: 1rem;
padding-left: 2rem;
line-height: 0px;
    background-color: #363535;
    color: white;
}
.gap1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.contact {
  
    text-decoration: none;
    color: white;

}

/*Page la palette du gout*/

.banniere {
    width: 100%;
    height: 16rem;
    
}
.resto__title {
    margin-top: -10%;
    background-color: rgb(238, 237, 237);
   border-radius: 40px 40px 0 0;
}
h4 {
    font-size: large;
    font-weight: bold;
}
.bigBtn {
    background-color: white;
    width: 80%;
    margin-left: 0.5rem;
    height: 4rem;
}
.menu {
    background-color: rgb(238, 237, 237);
}
