@import "../utils/colors.scss";

footer {            
    background-color: $darkgrey;
    padding: 1rem 2rem;
    color: white;

h2 {
    font-family: "shrikhand", "sans-serif";
    font-weight: 500;
    padding: 1rem 0;
   
}
p {
    padding: 0.2rem;
    gap:2rem;
}


}