img {
    max-width: 100%;
}
main h2{
    font-family: "Shrikhand", "sans-serif";
}
header {
    i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .fas {
        color: transparent;
        background-image: linear-gradient(red, blue);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
        @include gradient(1);
    }    
    &:hover .fas {
        opacity: 1;
        transform: translateY(-50%) scale(1,2,2);
    }
}